<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="user-profile-2" class="user-profile">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-18">
				<li class="active">
					<a data-toggle="tab" href="#home">
						<i class="green ace-icon fa fa-user bigger-120"></i>
						Profile
					</a>
				</li>				

				<li>
					<a data-toggle="tab" href="#friends">
						<i class="blue ace-icon fa fa-users bigger-120"></i>
						Friends
					</a>
				</li>
				
			</ul>

			<div class="tab-content no-border padding-24">
				<div id="home" class="tab-pane in active">
					<div class="row">
						<div class="col-xs-12 col-sm-3 center">
							<span class="profile-picture">
								<% if @user.image %>
									<%= image_tag @user.image,  width: '150px', class: 'editable img-responsive', id: "avatar2" %>
								<% else %>
									<%= image_tag "default_image.jpg",  width: '150px', class: 'editable img-responsive', id: "avatar2" %>
								<% end %> 
							</span>

							<div class="space space-4"></div>

							
							<%= link_to "Add Friend", friendship_path(id: @user.id, friendship_action: 'invite'), method: :patch, class: 'btn btn-sm btn-block btn-success' %>

							
						  <% if @user == current_user %>
						    <%= link_to 'Edit Profile', edit_user_path(@user.username),class: 'btn edit-button' %>
						  <% elsif current_user.friend_with? @user %>Already Friends!
						    <%= button_to "Delete!", friendship_path(id: @user.id, friendship_action: 'remove_friendship'), method: :patch, class: "btn btn-primary" %>
						  <% elsif current_user.invited? @user %>Friend request sent!
						    <%= button_to "Unsend!", friendship_path(id: @user.id, friendship_action: 'unsend'), method: :patch, class: "btn btn-small btn-primary" %>
						  <% elsif current_user.invited_by? @user %>
						    <%= button_to "Accept!", friendship_path(id: @user.id, friendship_action: 'approve'), method: :patch, class: "btn btn-small btn-primary" %>
						    <%= button_to "Reject!", friendship_path(id: @user.id, friendship_action: 'remove_friendship'), method: :patch, class: "btn btn-small btn-primary" %>
						  <% else %>
						    <%= button_to "Request Friend", friendship_path(id: @user.id, friendship_action: 'invite'), method: :patch, class: "btn btn-primary" %>
						  <% end %>

						</div><!-- /.col -->

						<div class="col-xs-12 col-sm-9">
							

							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Username </div>

									<div class="profile-info-value">
										<span><%= @user.username %></span>
									</div>
								</div>


								<div class="profile-info-row">
									<div class="profile-info-name"> Posts </div>

									<div class="profile-info-value">
										<span><%= @user.posts.count %></span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Joined </div>

									<div class="profile-info-value">
										<span><%= @user.created_at %></span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Last Online </div>

									<div class="profile-info-value">
										<span>3 hours ago</span>
									</div>
								</div>
							</div>

							<div class="hr hr-8 dotted"></div>

							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Website </div>

									<div class="profile-info-value">
										<a href="#" target="_blank">www.alexdoe.com</a>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">
										<i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i>
									</div>

									<div class="profile-info-value">
										<a href="#">Find me on Facebook</a>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">
										<i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i>
									</div>

									<div class="profile-info-value">
										<a href="#">Follow me on Twitter</a>
									</div>
								</div>
							</div>
						</div><!-- /.col -->
					</div><!-- /.row -->

										
				</div><!-- /#home -->

				
				<div id="friends" class="tab-pane">
					<div class="profile-users clearfix">
						<ul>
							<% @user.invited.each do |friend| %>
								<li>
									<h3> <%= friend.id %></h3>
								</li>
							<% end %>
						</ul>
						<ul>
							<% @user.friends.each do |friend| %>
								<li>
									<h3> <%= friend.id %></h3>
								</li>
							<% end %>
						</ul>



					</div>

					<div class="hr hr10 hr-double"></div>

					
				</div><!-- /#friends -->
				
			</div>
		</div>
	</div>
