<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="user-profile-2" class="user-profile">



			<div class="no-border padding-24">
				<div id="home" class="tab-pane in active">
					<div class="row">
						<div class="col-xs-12 col-sm-3 center">
							<span class="profile-picture">
								<% if @user.image %>
									<%= image_tag @user.image,  width: '150px', class: 'editable img-responsive', id: "avatar2" %>
								<% else %>
									<%= image_tag "default_image.jpg",  width: '150px', class: 'editable img-responsive', id: "avatar2" %>
								<% end %>
							</span>

							<div class="space space-4"></div>
								<% if current_user == @user %>
									<%= link_to "Edit profile", edit_user_registration_path(id: @user.id), class: 'btn btn-sm btn-block btn-success' %>
								<% else %>
									<%= link_to "Add Friend",friendships_path(friend_id: @user), method: :post, class: 'btn btn-sm btn-block btn-success', remote: true %>
								<% end %>




						</div><!-- /.col -->

						<div class="col-xs-12 col-sm-9">


							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Username </div>

									<div class="profile-info-value">
										<span><%= @user.username %></span>
									</div>
								</div>


								<div class="profile-info-row">
									<div class="profile-info-name"> Posts </div>

									<div class="profile-info-value">
										<span><%= @user.posts.count %></span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Joined </div>

									<div class="profile-info-value">
										<span><%= @user.created_at %></span>
									</div>
								</div>


								<div class="profile-info-row">
									<div class="profile-info-name"> Last Online </div>

									<div class="profile-info-value">
										<span><%= time_ago_in_words(@user.current_sign_in_at) %> ago</span>
									</div>
								</div>
							</div>

							<div class="hr hr-8 dotted"></div>



						</div><!-- /.col -->
					</div><!-- /.row -->


				</div><!-- /#home -->
					<br/>


				<div id="friends" class="tab-pane">
					<div class="profile-users clearfix">


						<% if current_user == @user %>
							<ul class="list-inline">
						    <% current_user.requested_friendships.each do |request| %>
							    <li>
							      <span><%= request.username %> want to be your friend.</span>
							      <%= link_to "Accept",  friendship_path(id: request.id), method: :put, remote: true %>
							      <%= link_to "Decline", friendship_path(id: request.id), method: :delete, remote: true %>
							    </li>
							  <% end %>
							</ul>
						<% end %>



						<div class="container bootstrap snippets">
							<div class="center-heading">
							    <h2>Friends</h2>
							    <span class="center-line"></span>
							</div>

							<div class="row">
							    <div class="col-md-10 col-md-offset-1">
							        <div class="row">
							        	<% @user.friends.each do |friend| %>
							            <div class="col-sm-4 margin40">
							                <div class="item-img-wrap ">
							                		<%= link_to user_path(id: friend.id) do %>

								                    <% if friend.image %>
																			<%= image_tag friend.image,  width: '150px', class: 'img-responsive' %>
																		<% else %>
																			<%= image_tag "default_image.jpg", class: 'img-responsive' %>
																		<% end %>
								                    <div class="item-img-overlay">

								                    </div>
							                    <% end %>
							                </div>
							                <div class="work-desc">
							                    <h3><a><%= friend.username %></a></h3>
							                    <% if current_user == @user %>
							                   		<span><%= link_to "Remove",  friendship_path(id: friend.id), method: :delete, remote: true %></span>
							                   	<% end %>
							                </div><!--work desc-->
							            </div><!--speakers col end-->
							            <% end %>



							        </div><!--speakers row end-->
							    </div>
							</div>
							</div>



					</div>

					<div class="hr hr10 hr-double"></div>


				</div><!-- /#friends -->

			</div>

	</div>
