<%= form_for @post, html: { multipart: true } do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5><%= t('common.errors') %></h5>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_area :title, class: 'form-control' %>
  </div>
  
  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.label :all_tags %>
    <%= form.text_field :all_tags, class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.file_field :image, class: 'form-control'  %>
  </div>
 
  <div class="actions form-group">
    <%= form.submit t('common.save'), class: 'btn btn-primary' %>
    <%= link_to t('common.back'), :back, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
