<div class="col-md-9">

    <%= select_tag "filter[cat]", options_for_select([ ['Date', 'created_at'],
     ['Author', 'username'], ['Like', 'votes'], ['Body lenght', 'lenght'],
     ['Most comentable', 'comment_counts'],
     ['Сomentable recently', 'comment_last'] ],
      params[:filter].present? ? params[:filter][:category] : nil ),
      onchange: "submitOnChange()", class: 'submit-on-change' %>
    <%= select_tag "filter[decriment]", options_for_select([ ['decrease', 'DESC' ],
     ['increase', 'ASC' ] ],  params[:filter].present? ? params[:filter][:direction] : nil ),
      onchange: "submitOnChange()", class: 'submit-on-change'  %>

  <h1><%= t('.title')%></h1>

  <div id="posts-list">
    <% if @posts.nil? %>
      <h3> Posts not found </h3>
    <% else %>
      <%= render @posts %>
    <% end %>
  </div>


  <div class="digg_pagination pagination">
  	<%= will_paginate @posts, container: false unless @posts.nil? %>
  </div>

  <script>
    $(function(){
       $('.pagination a').attr('data-remote', 'true')
    });
  </script>
</div>

 <div class="col-md-3">
  <div class="tag_cloud">
    <h2><%= t('activerecord.attributes.post.all_tags')%></h2>
    <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>

  <br/>

  <div class="search">
    <h2><%= t('activerecord.attributes.post.search_in_posts')%></h2>
    <%= form_tag(posts_path, method: :get, remote: true) do %>
      <%= hidden_field_tag "filter[category]", "created_at"   %>
      <%= hidden_field_tag "filter[direction]", "ASC" %>
      <%= label_tag "filter[keyword]" %>
      <%= text_field_tag "filter[keyword]", params[:filter].present? ? params[:filter][:keyword] : nil , class: "form-control mr-sm-2" %>
      <%= label_tag "filter[author]" %>
      <%= text_field_tag "filter[author]", params[:filter].present? ? params[:filter][:author] : nil, class: "form-control mr-sm-2" %>
      <%= label_tag "filter[tag_ids]" %>
      <%= select_tag "filter[tag_ids]", options_from_collection_for_select(Tag.all, "id", "name", params[:filter].present? ? params[:filter][:tag_ids] : nil), multiple: true, class: "form-control mr-sm-2" %>
      <%= submit_tag 'Search', class: "btn btn-success my-2 my-sm-0" %>
    <% end %>
  </div>
</div>
