<!DOCTYPE html>
<html>
  <head>
    <title>YorkApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">YorkApp</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(new_post_path ) %>"><a href="<%= new_post_path %>">Add new post</a></li>
            <li class="<%= 'active' if current_page?(users_path) %>"><a href="<%= users_path %>">All authors</a></li>
            <li class="<%= 'active' if current_page?(rails_admin_path) %>"><a href="<%= rails_admin_path %>">Admin</a></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to current_user.username, user_path(current_user.id), class: "nav-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to t('common.log_out'), destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to t('common.log_in'), new_user_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to t('common.sing_up'), new_user_registration_path, class: "nav-link" %>
                </li>
              <% end %>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <% if I18n.locale == :ru %>
                      <span><%= image_tag "ru.svg", size: "24x16", class: "flag" %> Рус</span>
                    <% elsif I18n.locale == :en %>
                      <span><%= image_tag "en.svg", size: "24x16", class: "flag" %> En</span>
                    <% end %>
                    <span class="caret"></span></a>
                  <ul class="dropdown-menu" id="flag">
                    <li><%= link_to locale: :ru, class: "nav-link" do %>
                          <span class=""><%= image_tag "ru.svg", size: "24x16", class: "flag" %> Рус</span>
                        <% end %>
                    </li>
                    <li><%= link_to locale: :en, class: "nav-link" do %>
                          <span class=""><%= image_tag "en.svg", size: "24x16", class: "flag" %> En</span>
                        <% end %>
                    </li>
                  </ul>
                </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert <%= bootstrap_class_for(name) %>">
              <button class="close" data-dismiss="alert">&times;</button>
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>

     <div class="row">
      <div class="col-md-12">
          <%= yield %>
      </div>

      </div>

     </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
